@import "../global/mixins";
@import "../global/variables";

.business {
  display: none;

  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 270px;

  background-color: $color-white;

  box-shadow: 0 20px 50px rgba(29, 46, 91, 0.1);
  border-radius: 20px;
  overflow: hidden;

  z-index: 15;
}

.business__container {
  padding: 33px 25px;

  background-color: $color-white;
}

.business__title {
  margin: 0 0 29px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;

  color: #ff8d30;
}

.business__description,
.business__price {
  margin: 0;
  color: $color-twilightGray;
}

.business__list {
  @include listStyle;
}

.business__item {
  padding: 16px 0 20px;
  position: relative;


  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  &:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
}

.business__button {
  padding: 23px;

  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;

  color: #1d2e5b;

  width: 100%;

  background-color: #f3f4f8;

  border-radius: 0 0 20px 20px;
  border: none;
}

//Таблет

@media (min-width: $tablet-width) {
  .business {
    width: 688px;

    border-radius: 30px;
  }

  .business__title {
    margin: 0 0 43px 0;

    font-size: 45px;
    line-height: 45px;
  }

  .business__description,
  .business__price {
    font-size: 22px;
    line-height: 28px;
  }

  .business__item {
    padding: 13px 0 17px;

    display: flex;
    justify-content: space-between;
  }

  .business__container {
    padding: 54px 92px;

    background-color: $color-white;
  }

  .business__button {
    padding: 44px;

    font-size: 24px;
  }
}
