@import "../global/mixins";
@import "../global/variables";

.button-arrow {
  padding: 23px 24px 22px;
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;

  color: #1d2e5b;

  background-color: $color-lightAmber;
  border-radius: 10px;
  border: none;

  outline: none;
  transition-duration: 0.2s;

  &::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 23px;

    width: 10px;
    height: 14px;
    background-image: url("../img/icon-triangle-arrow-right.svg");
    background-repeat: no-repeat;

    transition-duration: 0.2s;
  }

  &:hover,
  &:focus {
    background-color: #ffbd30;
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);

    &::after {
      opacity: 0.3;
    }
  }
}

//Таблет

@media (min-width: $tablet-width) {
  .button-arrow {
    padding: 30px 36px 28px 34px;

    font-size: 24px;
    font-weight: 700;
    line-height: 24px;

    border-radius: 20px;

    &::after {
      top: 35px;
      right: 36px;
    }
  }
}
