@import "../global/mixins";
@import "../global/variables";

.card {
  padding: 15px 18px 22px;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  background-color: #ffffff;
  border-radius: 20px;

  transition-duration: 0.2s;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.08);
  }
}

.card__header {
  display: flex;
  flex-wrap: wrap;
}

.card__link-image {
  position: absolute;
  top: 15px;
  left: 18px;
}

.card__img {
  display: none;

  &--mobile {
    display: block;
    border-radius: 50%;
  }
}

.card__title {
  position: relative;
  margin: 0 0 46px 0;
  padding: 0 50px 0 86px;

  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #1d2e5b;

  outline: none;
  cursor: pointer;

  transition-duration: 0.2s;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.card__status {
  position: absolute;
  top: 8px;
  right: 4px;

  width: 6px;
  height: 6px;
  border-radius: 4px;

  &--offline {
    background-color: #f97676;
  }

  &--online {
    background-color: #81e31e;
  }
}

.card__like-button {
  margin: 0 6px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 31px;
  height: 31px;

  background-color: #edeff6;
  border-radius: 50%;
  border: none;

  outline: none;
  cursor: pointer;

  transition-duration: 0.2s;

  &:hover,
  &:focus {
    background-color: #e2e5f2;

    .card__like-icon {
      transition-duration: 0.2s;
      opacity: 0.5;
    }
  }

  &:active {
    .card__like-icon {
      opacity: 0.1;
    }
  }

  .card__like-icon {
    display: block;

    width: 13px;
    height: 11px;

    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0.3;
  }

  &--active {
    background-color: #f9eaea;

    .card__like-icon {
      background-image: url("../img/heart-active.svg");
      opacity: 1;
    }

    &:hover,
    &:focus {
      background-color: #f9d8d8;

      .card__like-icon {
        opacity: 1;
      }
    }

    &:active {
      .card__like-icon {
        opacity: 0.6;
      }
    }
  }
}

.card__like-wrapper {
  position: absolute;
  display: flex;
  align-items: center;

  top: 54px;
  left: 67px;
}

.card__like-sum {
  margin: 0;
  padding: 3px 0 0 0;

  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;

  color: #161c35;

  &--tablet {
    display: none;
  }
}

.card__tags {
  margin: 0 0 12px 0;
  padding: 0 58px 0 8px;

  font-size: 15px;
  font-weight: 400;
  line-height: 18px;

  color: $color-twilightGray;
}

.card__flags-title,
.card__transport-title,
.card__level-caption,
.card__level-title {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;

  color: $color-twilightGray;
}

.card__flags-title {
  margin: 0 0 18px 0;
  padding: 0 130px 0 8px;
  position: relative;

  &::before {
    position: absolute;
    content: "";

    top: 45%;
    left: -18px;

    width: 15px;
    height: 1px;

    background-color: #edeff6;
  }

  &::after {
    position: absolute;
    content: "";

    top: 45%;
    right: -18px;

    width: 140px;
    height: 1px;

    background-color: #edeff6;
  }
}

.card__flags-list {
  @include listStyle;
  padding: 0 0 0 47px;

  width: 100%;
}

.card__flags-item {
  margin: 0 0 9px 0;
  position: relative;

  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;

  color: #1d2e5b;

  &::before {
    position: absolute;
    content: "";

    top: 35%;
    left: -40px;

    width: 26px;
    height: 18px;

    background-color: #4758a9;
    border-radius: 4px;

    transform: translateY(-50%);
  }
}

.card__inner {
  padding: 3px 0 0 0;

  display: flex;
  justify-content: space-between;

  width: 100%;

  &--demin {
    padding: 8px 0 0 0;
  }

  &--smolov {
    padding: 6px 0 0 0;
  }

  &--rogovaya {
    padding: 8px 0 0 0;
  }
}

.card__transport-wrapper {
  margin: 0 auto 0 0;
  padding: 0 0 0 8px;
  width: 170px;
}

.card__transport-list {
  @include listStyle;
  display: flex;
}

.card__transport-title {
  position: relative;
  margin: 0 0 14px 0;
  padding: 0 96px 0 0;

  &::before {
    position: absolute;
    content: "";

    top: 8px;
    left: -26px;

    width: 15px;
    height: 1px;

    background-color: #edeff6;
  }

  &::after {
    position: absolute;
    content: "";

    top: 8px;
    right: -10px;

    width: 92px;
    height: 1px;

    background-color: #edeff6;
  }
}

.card__transport-item {
  margin: 0 0 0 -1px;
  position: relative;

  background-color: #edeff6;
  border-radius: 50%;

  width: 33px;
  height: 32px;

  cursor: pointer;

  &:hover {
    .card__transport-tooltip {
      display: block;
    }
  }
}

.card__transport-img {
  display: inline-block;
  width: 33px;
  height: 32px;

  &--inactive {
    opacity: 0.15;
  }

  &--avia {
    background-image: url("../img/plane.svg");
    background-repeat: no-repeat;
    background-position: 8px 8px;
    background-size: 14px 16px;
  }

  &--auto {
    background-image: url("../img/bus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px 16px;
  }

  &--bike {
    background-image: url("../img/bike.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px 17px;
  }

  &--foot {
    background-image: url("../img/run.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 17px;
  }
}

.card__transport-tooltip {
  padding: 5px 10px;
  position: absolute;
  display: none;

  top: 40px;
  left: 50%;

  white-space: nowrap;
  color: $color-white;

  background-color: #101d41;
  border-radius: 4px;

  transform: translateX(-50%);
  z-index: 11;

  &::after {
    content: "";
    position: absolute;

    bottom: 98%;
    left: 50%;

    width: 0;
    height: 0;

    border-bottom: 8px solid #101d41;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;

    transform: translateX(-50%);
  }
}

.card__buttons {
  display: flex;

  width: 100%;
}

.card__level-title {
  position: relative;

  margin: 0 0 9px 0;
  padding: 0 5px 0 0;
  text-align: end;

  &::before {
    position: absolute;
    content: "";

    top: 8px;
    right: -19px;

    width: 15px;
    height: 1px;

    background-color: #edeff6;
  }
}

.card__level-caption {
  margin: 0 0 9px 0;
  display: none;
}

.card__level-wrapper {
  margin: 0 2px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;

  background-color: #edeff6;

  border-radius: 50%;
}

.card__level-value {
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;

  color: #1d2e5b;
}

.card__call {
  margin: 12px 0 0 0;
  padding: 7px 20px 3px;
  width: 100%;

  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  color: #161c35;

  background-color: #ffd74b;
  border-radius: 20px;

  outline: none;
  cursor: pointer;

  transition-duration: 0.2s;

  &:hover,
  &:focus {
    background-color: #ffbd30;
  }

  &:active {
    color: rgba(22, 28, 53, 0.3);
  }
}

//Таблетка

@media (min-width: $tablet-width) {
  .card {
    padding: 33px 25px 20px 35px;

    justify-content: flex-start;
  }

  .card__link-image {
    position: relative;

    top: auto;
    left: auto;

    order: 1;
  }

  .card__img {
    display: none;

    &--tablet {
      margin: 2px 33px 0 0;
      display: block;
      border-radius: 20px;
    }
  }

  .card__header {
    flex-direction: column;

    width: 260px;

    order: 2;
  }

  .card__title {
    margin: 0 0 18px 0;
    padding: 0;

    display: inline-block;

    font-size: 30px;
    line-height: 30px;
  }

  .card__status {
    top: 12px;
    right: -29px;

    width: 7px;
    height: 7px;
  }

  .card__tags {
    margin: 0 0 0 0;
    padding: 0 30px 0 3px;

    width: 100%;

    font-size: 20px;
    line-height: 24px;
  }

  .card__flags {
    padding: 19px 0 0 0;

    width: 100%;
    order: 6;
  }

  .card__flags-title {
    margin: 0 0 17px 0;
    padding: 0 480px 0 48px;
    position: relative;

    display: flex;
    justify-content: flex-start;

    &::before {
      left: -36px;

      width: 72px;
      height: 1px;
    }

    &::after {
      top: 45%;
      right: -26px;

      width: 500px;
      height: 1px;
    }
  }

  .card__flags-list {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    width: 100%;
  }

  .card__flags-item {
    padding: 0 0 0 46px;
    margin: 0 28px 0 0;

    font-size: 20px;
    line-height: 30px;

    &::before {
      top: 39%;
      left: 0;

      width: 35px;
      height: 24px;
    }
  }

  .card__inner {
    margin: 0 0 0 auto;
    padding: 0;

    flex-direction: column;
    align-items: center;

    width: 60px;

    order: 3;
  }

  .card__transport-wrapper {
    margin: 0;
    padding: 0;
    width: auto;
  }

  .card__transport-item {
    margin: 0 0 8px 0;
    background-color: transparent;

    width: 24px;
    height: 24px;
  }

  .card__transport-img {
    width: 24px;
    height: 24px;

    &--avia {
      background-position: 0 3px;
      background-size: 19px 21px;
    }

    &--auto {
      background-size: 17px 21px;
    }

    &--bike {
      background-size: 24px 21px;
    }

    &--foot {
      background-size: 20px 21px;
    }
  }

  .card__transport-list {
    margin: 0;
    padding: 2px 0 0 0;

    flex-direction: column;
  }

  .card__transport-title {
    display: none;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  .card__level-title {
    display: none;

    &::after {
      display: none;
    }
  }

  .card__level-wrapper {
    position: relative;

    margin: 5px 2px 0 0;
    padding: 12px 0 0 0;

    flex-direction: column;

    width: 60px;
    height: 60px;

    &::after {
      content: "";
      position: absolute;

      top: 36px;
      left: 15px;

      width: 31px;
      height: 1px;

      background-color: #1d2e5b;
      opacity: 0.1;
    }
  }

  .card__level-caption {
    margin: 0;
    padding: 5px 0 0 0;
    display: block;

    font-size: 14px;
    font-weight: 400;
    line-height: 13px;

    opacity: 0.4;
  }

  .card__level-value {
    margin: 0 0 0 0;
  }

  .card__buttons {
    margin: -54px 0 4px 220px;

    width: 260px;

    order: 4;
  }

  .card__call {
    margin: 0;
    padding: 11px 20px 9px;

    width: 148px;

    font-size: 20px;
    line-height: 30px;

    border-radius: 25px;
  }

  .card__like-wrapper {
    position: relative;

    top: auto;
    left: auto;
  }

  .card__like-button {
    margin: 0 7px 0 0;

    width: 50px;
    height: 50px;

    .card__like-icon {
      width: 20px;
      height: 17px;
    }
  }

  .card__like-sum {
    padding: 2px 0 0 0;
    display: none;

    font-size: 20px;
    line-height: 30px;

    &--tablet {
      display: block;
    }
  }
}

//Десктоп

@media (min-width: $desktop-width) {
  .card {
    padding: 0 44px 0 0;

    &::before {
      content: "";
      position: absolute;

      top: 49px;
      left: 630px;

      width: 1px;
      height: 187px;

      background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 75%, rgba(255, 255, 255, 1) 100%);

      opacity: 0.1;
    }
  }

  .card__img {
    display: none;

    &--desktop {
      margin: 0 60px 0 0;
      display: block;
      border-radius: 20px 0 0 20px;
    }
  }

  .card__header {
    padding: 47px 0 0 0;
  }

  .card__title {
    margin: 0 0 18px 0;
  }

  .card__status {
    top: 11px;
    right: auto;
    left: -26px;

    width: 7px;
    height: 7px;
  }

  .card__flags {
    margin: 0 0 0 auto;
    padding: 49px 0 0 0;

    width: 250px;
    order: 3;
  }

  .card__flags-title {
    display: none;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .card__flags-list {
    margin: 0 0 120px 0;
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;

    width: 250px;
  }

  .card__flags-item {
    margin: 0 0 7px 0;
    padding: 0 0 0 72px;

    &::before {
      left: 18px;
    }
  }

  .card__inner {
    margin: -152px 0 0 auto;
    padding: 0;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 232px;

    order: 5;
  }

  .card__transport-list {
    padding: 8px 0 0 0;
    flex-direction: row;
  }

  .card__buttons {
    margin: -97px 0 47px 341px;
  }

  .card__level-wrapper {
    margin: 5px 2px 0 0;
  }

  .card__transport-item {
    margin: 0 9px 0 0;
  }

  .card__like-sum {
    display: block;

    &--tablet {
      display: none;
    }
  }
}
