@import "../global/mixins";
@import "../global/variables";

.catalog {
  position: relative;
  background-color: #edeff6;
}

.catalog__container {
  @include container;
  padding: 84px 25px;

  outline: 1px solid yellowgreen; //todo: Временно для сетки
}

.catalog__show {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  color: #1d2e5b;

  background-color: transparent;
  border: none;
}

.catalog__left,
.catalog__right {
  background-color: #ffffff;
  border-radius: 20px;
  border: none;
}

.catalog__crumbs {
  display: flex;

  background-color: $color-white;
  border-radius: 20px;
}

.catalog__crumbs-list {
  @include listStyle;

  display: none;
}

.catalog__crumbs-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  color: #161c35;
}

.catalog__filter {
  margin: 0 0 28px 0;
}

.catalog__item {
  margin: 0 0 10px 0;
}

//Таблетка

@media (min-width: $tablet-width) {
  .catalog__crumbs-list {
    display: flex;
  }
}

//Десктоп

@media (min-width: $desktop-width) {
  .catalog__container {
    display: flex;
  }

  .catalog__filter {
    order: 2;
  }

}
