@import "../global/mixins";

.contact-list {
  @include listStyle;

  outline: 1px solid yellowgreen; //todo: Временно для сетки
}

.contact-list__link {
  font-weight: 700;
  text-transform: uppercase;

  color: #192144;

  &--orange {
    color: #ffd74b;
  }
}
