@import "../global/mixins";
@import "../global/variables";

.contact-list {
  @include listStyle;
}

.contact-list__icon {
  margin: 0 16px 0 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;

  background-color: #121936;
  border-radius: 50%;
}

.contact-list__link {
  display: flex;
  align-items: center;

  font-weight: 700;
  text-transform: uppercase;

  color: #192144;

  outline: none;
  cursor: pointer;

  transition-duration: 0.2s;

  &--orange {
    color: #ffd74b;
  }

  &:hover,
  &:focus {
    color: #ffbd30;

    svg {
      transition-duration: 0.2s;
      fill: #ffbd30;
    }
  }

  &:active {
    color: rgba(255, 189, 48, 0.3);

    svg {
      fill: rgba(255, 189, 48, 0.3);
    }
  }
}

//Таблет

@media (min-width: $tablet-width) {
  .contact-list {
    padding: 0 35px;
  }

  .contact-list__link {
    display: flex;
    align-items: center;

    font-size: 28px;
    line-height: 28px;
  }

  .contact-list__icon {
    margin: 0 23px 0 0;
    padding: 0 0 2px 0;

    width: 68px;
    height: 68px;

    & svg {
      width: 27px;
      height: 27px;
    }

    &--mail {
      & svg {
        height: 20px;
      }
    }
  }
}

//Десктоп

@media (min-width: $desktop-width) {
  .contact-list {
    padding: 0 228px 0 223px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .contact-list__item {
    &:nth-child(3n+1) {
      margin: 0 auto 0 0;
    }
  }

  .contact-list__icon {
    margin: 0 31px 0 0;
    padding: 0;

    width: 90px;
    height: 90px;

    & svg {
      width: 36px;
      height: 36px;
    }

    &--mail {
      & svg {
        height: 26px;
      }
    }
  }
}
