@import "../global/mixins";
@import "../global/variables";

.contact-list {
  @include listStyle;

  outline: 1px solid yellowgreen; //todo: Временно для сетки
}

.contact-list__icon {
  margin: 0 16px 0 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;

  background-color: #121936;
  border-radius: 50%;
}

.contact-list__link {
  display: flex;
  align-items: center;

  font-weight: 700;
  text-transform: uppercase;

  color: #192144;

  &--orange {
    color: #ffd74b;
  }
}

//Таблет

@media (min-width: $tablet-width) {
  .contact-list {
    padding: 0 35px;
  }

  .contact-list__link {
    display: flex;
    align-items: center;

    font-size: 28px;
    line-height: 28px;
  }

  .contact-list__icon {
    margin: 0 23px 0 0;
    padding: 0 0 2px 0;

    width: 68px;
    height: 68px;

    & svg {
      width: 27px;
      height: 27px;
    }

    &--mail {
      & svg {
        height: 20px;
      }
    }
  }
}
