@import "../global/mixins";

.countries {
  background-color: #e2e5f2;
  border-radius: 0 0 20px 20px;
}

.countries__container {
  @include container;
  padding: 0 25px;
}

.countries__title {
  font-size: 16px;
  font-weight: 700;
  color: #192144;

  text-transform: uppercase;
}

.countries__list,
.countries__nav-list {
  @include listStyle;
}

.countries__nav-link {
  font-weight: 700;
  text-transform: uppercase;

  color: #192144;

  opacity: 0.3;

  &--active {
    opacity: 1;
  }
}

.countries__table {
  background-color: #ffffff;
  border: 1px solid #cbced9;
  border-collapse: collapse;
}

.countries__cell {
  width: 44px;
  height: 42px;

  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  text-align: center;

  color: #1d2e5b;

  border: 1px solid #cbced9;

  &--active {
    color: #ffffff;
    background-color: #1d2e5b;
  }
}

.countries__wrapper {
  background-color: #e2e5f2;
  border-radius: 0 0 20px 20px;
}

.countries__link {
  font-weight: 400;
  color: #444444;
}

.countries__close {
  font-size: 17px;
  font-weight: 700;
  line-height: 29.45px;
  text-transform: uppercase;

  color: #161c35;


  background-color: #d6daed;
  border-radius: 20px;
  border: none;
}
