@import "../global/mixins";
@import "../global/variables";

.dropdown {
  display: block;
  position: fixed;

  top: 50%;
  left: 50%;

  width: 220px;

  transform: translate(-50%, -50%);

  z-index: 10;

  box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);
  border-radius: 4px 4px 10px 10px;

  overflow: hidden;
}

.dropdown__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #1d2e5b;
  border-radius: 4px 4px 0 0;
}

.dropdown__title {
  padding: 0 0 0 13px;

  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;

  color: #ffffff;

  letter-spacing: 1.4px;
}

.dropdown__table {
  background-color: $color-white;

  border-collapse: collapse;
}

.dropdown__cell {
  width: 44px;
  height: 41px;

  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  letter-spacing: 1.4px;

  color: #1d2e5b;

  border: 1px solid #cbced9;

  &--active {
    background-color: #edeff6;
  }
}

.dropdown__link {
  font-weight: 400;

  color: $color-twilightGray;
}

.dropdown__list-container {
  padding: 55px 20px 16px;
  border-radius: 0 0 10px 10px;

  background-color: $color-white;

  border: 1px solid #cbced9;
  border-top: none;
}

.dropdown__list {
  @include listStyle;
}

.dropdown__close {
  position: relative;

  width: 49px;
  height: 42px;

  background-color: transparent;
  border: none;

  &::after {
    position: absolute;
    content: "";

    top: 20px;
    right: 16px;

    width: 13px;
    height: 1px;

    background-color: #ffffff;

    transform: rotate(45deg);
  }

  &::before {
    position: absolute;
    content: "";

    top: 20px;
    right: 16px;

    width: 13px;
    height: 1px;

    background-color: #ffffff;

    transform: rotate(-45deg);
  }
}

//Таблетка

@media (min-width: $tablet-width) {
  .dropdown {
    width: 575px;

    transform: translate(-50%, -50%);

    z-index: 10;

    background-color: transparent;

    box-shadow: none;
  }

  .dropdown__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    width: 575px;

    box-shadow: 0 20px 50px -20px rgba(29, 46, 91, 0.1);
  }

  .dropdown__header {
    width: 370px;
  }

  .dropdown__table {
    width: 370px;
  }

  .dropdown__list-container {
    width: 205px;

    border: none;
    border-left: 1px solid #cbced9;

    border-radius: 0 0 10px 0;
  }
}
