@import "../global/mixins";

.info {
  background-color: #192144;
  border-radius: 0 0 30px 30px;
}

.info__container {
  @include container;
  padding: 0 25px;

  background-color: #192144;
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.info__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;

  color: #ff8d30;
}

.info__slogan {
  font-weight: 700;
}
