@import "../global/mixins";
@import "../global/variables";

.info {
  position: relative;
  margin: 0 0 -60px 0;

  background-color: $color-darkBlue;
  border-radius: 0 0 30px 30px;
  z-index: 7;
}

.info__container {
  @include container;
  padding: 310px 25px 82px;

  background: url("../img/about-mobile@1x.png") no-repeat 18px 279px, url("../img/blue_back_mobile.png") no-repeat -25px 278px;

  outline: 1px solid yellowgreen; //todo: Временно для сетки
}

.info__title {
  margin: 0 0 20px 0;
  padding: 0 0 0 24px;

  font-size: 24px;
  font-weight: 700;
  line-height: 24px;

  color: #ff8d30;
}

.info__description {
  margin: 0 0 18px 0;
  padding: 0 34px 0 24px;
}

.info__slogan {
  display: block;
  padding: 0 34px 0 24px;

  font-weight: 700;
}

.info__link {
  display: none;

  font-size: 24px;
  font-weight: 700;
  line-height: 24px;

  color: #1d2e5b;

  background-color: #ffd74b;
  border-radius: 20px;
}

//Таблет

@media (min-width: $tablet-width) {
  .info {
    border-radius: 0 0 60px 60px;
  }

  .info__container {
    height: 920px; //todo: Временно для сетки}
  }

  .info__link {
    display: block;
  }
}

//Десктоп

@media (min-width: $desktop-width) {
  .info__container {
    height: 840px; //todo: Временно для сетки}
  }
}
