@import "../global/mixins";
@import "../global/variables";

.intro {
  background-color: $color-header;
}

.intro__container {
  @include container;
  padding: 0 25px;
  height: 980px; //todo: Временно для сетки

  background: url("../img/traveller-illustration-mobile@1x.png") no-repeat, url("../img/globe-back-mobile@1x.jpg") no-repeat;
  outline: 1px solid yellowgreen; //todo: Временно для сетки
}

.intro__slogan {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

.intro__cite {
  font-weight: 700;
}

.intro__list {
  @include listStyle;
}

.intro__item {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;

  color: #161c35;

  &:first-child {
    background-color: #ff8d30;
    border-radius: 10px 10px 0 0;
  }

  &:nth-child(2) {
    background-color: #ffa530;
    border-radius: 10px 10px 0 0;
  }

  &:nth-child(3) {
    background-color: #ffbd30;
    border-radius: 10px 10px 0 0;
  }

  &:last-child {
    background-color: #ffd74b;
    border-radius: 10px;
  }
}

//Таблет

@media (min-width: $tablet-width) {
  .intro__container {
    height: 980px; //todo: Временно для сетки}
  }
}

//Десктоп

@media (min-width: $desktop-width) {
  .intro {
    border-radius: 0 0 60px 60px;
  }

  .intro__container {
    height: 640px; //todo: Временно для сетки}
  }
}
