@import "../global/mixins";
@import "../global/variables";

.intro {
  background: $color-header;
}

.intro__container {
  @include container;

  display: flex;
  flex-direction: column;

  background: url("../img/traveller-illustration-mobile@1x.png") no-repeat 79px 142px, url("../img/globe-back-mobile@1x.jpg") no-repeat 0 -80px;

  outline: 1px solid yellowgreen; //todo: Временно для сетки
}

.intro__wrapper {
  padding: 47px 25px 0;
  background: $color-header;
}

.intro__slogan {
  margin: 0 0 264px 0;
  padding: 14px 30px 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}

.intro__blockquote {
  margin: 0 0 30px 0;
  padding: 0 90px 0 25px;
}

.intro__description {
  margin: 0 0 18px 0;
}

.intro__cite {
  font-weight: 700;
}

.intro__list {
  @include listStyle;
  margin: 0 0 -238px 0;
  padding: 0 25px;

  z-index: 10;
}

.intro__item {
  position: relative;
  padding: 22px 60px 22px 25px;

  min-height: 160px;

  font-size: 18px;
  font-weight: 700;
  line-height: 18px;

  color: #161c35;

  border-radius: 10px;

  &:not(:first-child) {
    margin: -80px 0 0 0;
  }

  &:first-child {
    background-color: #ff8d30;
  }

  &:nth-child(2) {
    background-color: #ffa530;
  }

  &:nth-child(3) {
    background-color: #ffbd30;

  }

  &:last-child {
    min-height: 80px;
    background-color: #ffd74b;
  }

  .intro__point {
    position: absolute;
    top: 22px;
    right: 20px;

    width: 10px;
    height: 18px;

    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;

    color: $color-white;
  }
}

//Таблет

@media (min-width: $tablet-width) {
  .intro__container {
    height: 980px; //todo: Временно для сетки}
  }
}

//Десктоп

@media (min-width: $desktop-width) {
  .intro {
    border-radius: 0 0 60px 60px;
  }

  .intro__container {
    height: 640px; //todo: Временно для сетки}
  }
}
