@import "../global/mixins";
@import "../global/variables";

.main-header {
  background-color: $color-header;

  .main-header__logo {
    display: block;

    &--open {
      display: none;
    }

    &--tablet {
      display: none;
    }

    &--tablet-open {
      display: none;
    }
  }

  &--form {
    border-radius: 0 0 20px 20px;

    .main-header__user-menu {
      display: none;
    }
  }

  &--catalog {
    border-radius: 0 0 20px 20px;

    .main-header__user-menu {
      display: none;
    }
  }

  &--open {
    background-color: $color-white;

    .main-header__logo {
      display: none;

      &--open {
        display: block;
      }
    }

    .main-header__button {
      &::after {
        background-color: #cccccc;
        box-shadow: 0 8px 0 0 #cccccc;
      }
    }
  }
}

.main-header--catalog .main-header__title,
.main-header--form .main-header__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;

  color: $color-white;
}

.main-header__container {
  @include container;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 27px 25px;

  outline: 1px solid yellowgreen; //todo: Временно для сетки
}

.main-header__button {
  position: relative;

  width: 40px;
  height: 19px;

  background-color: transparent;
  border: none;

  &::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 15px;

    width: 25px;
    height: 3px;

    background-color: $color-white;
    box-shadow: 0 8px 0 0 $color-white;
  }
}

.main-header__submenu {
  display: none;
  position: absolute;
  top: 73px;
  left: 0;

  width: 100vw;

  background-color: $color-white;
  z-index: 10;

  &--open {
    display: block;
  }
}

.main-header__submenu-wrapper {
  @include container;
  padding: 44px 25px 28px;

  display: flex;
  flex-direction: column;
  align-items: center;

  & .main-header__contact-list {
    margin: 0 0 30px 0;
    align-self: flex-start;
  }
}

.main-header__about {
  margin: 0 0 48px 0;

  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;

  color: #192144;
}

.main-header__login {
  margin: 0 0 51px 0;
  padding: 13px 15px 8px;
  display: block;

  width: 100%;

  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  color: #161c35;

  border-radius: 25px;
  background-color: #ffd74b;
}

.main-header__user-menu {
  max-width: 270px;
  position: absolute;
  top: 458px;
  right: 25px;
}

.main-header__title-link {
  display: none;

  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;

  color: $color-white;
}

//Таблетка

@media (min-width: $tablet-width) {
  .main-header {
    background-color: $color-headerTablet;

    .main-header__logo {
      display: none;

      &--open {
        display: none;
      }

      &--tablet {
        display: block;
      }

      &--tablet-open {
        display: none;
      }
    }

    &--form {
      .main-header__user-menu {
        display: flex;
      }

      .main-header__title {
        width: 100%;
      }
    }

    &--catalog {
      .main-header__user-menu {
        display: flex;
      }

      .main-header__title {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      .main-header__container {
        height: 351px; //todo: Временно для сетки
      }

      .main-header__title-link {
        display: block;
      }
    }

    &--open {
      background-color: $color-white;

      .main-header__logo {
        &--tablet {
          display: none;
        }

        &--tablet-open {
          display: block;
        }
      }
    }

    .main-header__container {
      padding: 40px;
      align-items: center;
    }

    .main-header__button {
      width: 80px;
      height: 40px;

      &::after {
        top: 16px;
        left: 39px;
      }
    }

    .main-header__user-menu {
      position: inherit;
      top: auto;
      right: auto;
    }
  }

  .main-header__submenu {
    top: 130px;

    z-index: 12;
  }

  .main-header__submenu-wrapper {
    padding: 54px 170px 74px 97px;
    align-items: flex-start;

    & .main-header__contact-list {
      margin: 0 0 112px 0;
      padding: 0;
      align-self: initial;
    }

    .main-header__social-list {
      margin: 0 0 0 2px;
    }
  }

  .main-header__about {
    margin: 0 0 131px 0;

    text-align: start;

    font-size: 60px;
    line-height: 71.01px;
  }

  .main-header__login {
    display: none;
  }
}

//Десктоп

@media (min-width: $desktop-width) {
  .main-header__container {
    padding: 45px;
    justify-content: flex-start;
  }

  .main-header__button {
    display: none;
  }

  .main-header__user-menu {
    margin-left: auto;
  }
}
