@import "../global/mixins";
@import "../global/variables";

.main-nav {
  display: flex;

  outline: 1px solid yellowgreen; //todo: Временно для сетки
}

.main-nav__list {
  @include listStyle;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 390px;
}


.main-nav__link {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;

  color: $color-white;
}
