@import "../global/mixins";

.map-block {
  position: relative;
  margin: 0 0 -60px 0;

  z-index: 4;
}

.map-block__header {
  background-color: #ffd74b;
  border-radius: 0 0 30px 30px;

  z-index: 3;
}

.map-block__container {
  @include container;
  position: relative;
  padding: 93px 25px 35px;

  outline: 1px solid yellowgreen; //todo: Временно для сетки
}

.map-block__title {
  position: relative;
  margin: 0 0 32px 0;
  padding: 0 25px 0 61px;
  font-weight: 700;
  text-transform: uppercase;
  color: #192144;

  &::before {
    position: absolute;
    content: "";

    top: -2px;
    left: 0;

    width: 45px;
    height: 45px;

    background-color: #121936;
    background-image: url("../../img/contacts-location.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 22px;

    border-radius: 50%;
  }
}

.map-block__link {
  padding: 20px 20px 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 18px;
  font-weight: 700;
  line-height: 18px;

  color: #1d2e5b;

  border-radius: 10px;
  border: 3px solid #192144;
  background-color: transparent;
}

.map-block__wrapper {
  position: relative;

  margin: -60px 0 -214px 0;

  width: 100vw;
  height: 546px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center;

  z-index: -1;
}

.map-block__map {
  border: none;
}

.map-block__arrow {
  & svg {
    fill: #1d2e5b;
  }
}

//Таблет

@media (min-width: $tablet-width) {
  .map-block__header {
    border-radius: 0 0 60px 60px;
  }

  .map-block__container {
    padding: 130px 40px 84px;
  }

  .map-block__wrapper {
    height: 700px;
  }

  .map-block__title {
    margin: 0 0 61px 0;
    padding: 0 61px 0 61px;

    font-size: 28px;
    line-height: 28px;
    text-align: center;

    &::before {
      top: -22px;
      left: 35px;

      width: 68px;
      height: 68px;

      background-size: 21px 32px;
    }
  }

  .map-block__link {
    margin: 0 35px;
    padding: 27px 33px 24px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 20px;
  }

  .map-block__wrapper {
    margin: -60px 0 -154px 0;

    height: 677px;
  }
}

//Десктоп

@media (min-width: $desktop-width) {
  .map-block__wrapper {
    height: 750px;
  }
}
