@import "../global/mixins";
@import "../global/variables";

.plans {
  margin: 0 0 -60px 0;
  position: relative;
  background-color: #dfe3f0;
  border-radius: 30px 30px 0 0;

  z-index: 4;
}

.plans__container {
  @include container;
  padding: 28px 25px 82px;
}

.plans__title {
  margin: 0 0 29px 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 24px;

  color: #1d2e5b;
}

.plans__list {
  @include listStyle;
}

.plans__number {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;

  color: #1d2e5b;
}

.plans__item {
  margin: 0 0 9px 0;
  padding: 23px 24px 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

.plans__item-title {
  margin: 0 0 21px 0;

  font-size: 16px;
  font-weight: bold;
  line-height: 1;

  color: #1d2e5b;
}

.plans__traveler,
.plans__dates {
  margin: 0;

  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  color: #1d2e5b;

  letter-spacing: 1.4px;
}

.plans__traveler {
  margin: 0 0 6px 0;
}

.plans__dates {
  margin: 0 0 19px 0;
}

.plans__change {
  padding: 0 0 0 1px;

  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;

  color: #000000;

  letter-spacing: 1.4px;
  opacity: 0.3;
}

//Таблетка

@media (min-width: $tablet-width) {
  .plans__container {
    padding: 50px 75px 129px;
  }

  .plans__title {
    margin: 0 0 41px 0;

    font-size: 36px;
    line-height: 1.39;
  }

  .plans__item {
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    background-color: #ffffff;
  }

  .plans__item-title {
    margin: 0;
    padding: 28px 28px 20px 36px;

    display: flex;
    justify-content: space-between;

    width: 100%;

    font-size: 24px;
    line-height: 2.08;

    border-bottom: solid 1px rgba(203, 206, 217, 0.3);
  }

  .plans__number {
    margin: 0 0 0 50px;
    padding: 5px 0 0 0;

    font-size: 20px;
    line-height: 2.08;
    letter-spacing: 2px;

    order: 1;
  }

  .plans__traveler {
    margin: 0;
    padding: 18px 0 14px 33px;

    width: 206px;

    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.1;
    text-align: left;
  }

  .plans__dates {
    margin: 0;
    padding: 18px 8px 14px 6px;

    width: 206px;

    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.1;
    text-align: center;
  }

  .plans__change {
    margin: 0;
    padding: 18px 33px 14px 0;

    width: 206px;

    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.1;
    text-align: right;
  }
}

//Десктоп

@media (min-width: $desktop-width) {
  .plans {
    border-radius: 60px;
  }

  .plans__container {
    padding: 50px 60px 108px 124px;
  }

  .plans__title {
    margin: 0 0 40px 7px;
  }

  .plans__list {
    width: auto;
    align-items: center;
  }

  .plans__item {
    margin: 0 0 15px 0;
  }

  .plans__item-title {
    margin: 0 16px 0 0;
    padding: 25px 28px 22px 43px;

    justify-content: left;
    align-items: center;

    width: 600px;
  }

  .plans__traveler {
    margin: 0;
    padding: 39px 10px 35px 10px;

    width: 180px;
  }

  .plans__dates {
    margin: 0;
    padding: 39px 10px 35px 3px;

    width: 200px;
  }

  .plans__change {
    margin: 0 0 0 auto;
    padding: 39px 39px 35px 10px;

    width: 180px;
  }

  .plans__number {
    margin: 0 33px 0 0;
    padding: 0;

    order: 0;
  }
}
