@import "../global/mixins";

.social-list {
  @include listStyle;
  display: flex;
  flex-wrap: wrap;
}

.social-list__link {
  display: flex;
  width: 45px;
  height: 45px;

  justify-content: center;
  align-items: center;

  background-color: #ffd74b;
  border-radius: 50%;

  outline: none;
  cursor: pointer;

  transition-duration: 0.2s;

  &:hover,
  &:focus {
    background-color: #ffbd30;
  }

  &:active {
    svg {
      opacity: 0.3;
    }
  }

  &--footer {
    &:hover,
    &:focus {
      background-color: #192144;

      svg {
        transition-duration: 0.2s;
        fill: $color-white;
      }
    }

    &:active {
      svg {
        opacity: 0.3;
      }
    }
  }
}

//Таблет

@media (min-width: $tablet-width) {
  .social-list__link {
    width: 60px;
    height: 60px;

    &--facebook svg {
      width: 14px;
      height: 28px;
    }

    &--vk svg {
      width: 31px;
      height: 16px;
    }

    &--instagram svg {
      width: 24px;
      height: 24px;
    }
  }
}
