@import "../global/mixins";
@import "../global/variables";

.tariff {
  background-color: $color-grayishBlue;
  border-radius: 0 0 30px 30px;
}

.tariff__container {
  @include container;
  padding: 0 25px;

  outline: 1px solid yellowgreen; //todo: Временно для сетки
}

.tariff__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;

  color: #ff8d30;
}

.tariff__list {
  @include listStyle;
}

.tariff__description,
.tariff__price {
  color: $color-twilightGray;
}

.tariff__button {
  font-weight: 700;
  line-height: 16px;

  color: $color-darkBlue;
  background-color: transparent;

  border: none;
}

//Таблет

@media (min-width: $tablet-width) {
  .tariff {
    border-radius: 0 0 60px 60px;
  }

  .tariff__container {
    height: 644px; //todo: Временно для сетки
  }

  .tariff__item {
    display: flex;
    justify-content: space-between;
  }
}

//Десктоп

@media (min-width: $desktop-width) {
  .tariff__container {
    height: 830px; //todo: Временно для сетки
  }
}
