@import "../global/mixins";
@import "../global/variables";

.tariff {
  position: relative;
  margin: 0 0 -60px 0;

  background-color: $color-grayishBlue;
  border-radius: 0 0 30px 30px;

  z-index: 6;
}

.tariff__container {
  @include container;
  position: relative;
  padding: 111px 25px 22px;

  background: url("../../img/rates@1x.png") no-repeat 195px 94px;
  background-size: 99px 99px;
}

.tariff__title {
  margin: 0 0 44px 0;
  padding: 0 100px 0 25px;

  font-size: 24px;
  font-weight: 700;
  line-height: 24px;

  color: #ff8d30;
}

.tariff__list {
  @include listStyle;
  margin: 0 0 15px 0;
  padding: 0 45px 0 25px;
}

.tariff__item {
  position: relative;

  padding: 10px 0 11px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  &::after {
    position: absolute;
    content: "";
    top: 3px;
    right: -44px;

    width: 34px;
    height: 34px;

    font-weight: 400;
    line-height: 34px;
    text-align: center;

    color: $color-white;

    border-radius: 50%;
  }

  &:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.05);

    &::after {
      content: "1";
      background-color: #ffa530;
    }
  }

  &:nth-child(2) {
    &::after {
      content: "2";
      background-color: #ffbd30;
    }
  }

  &:nth-child(3) {
    &::after {
      content: "3";
      background-color: #ffd74b;
    }
  }
}

.tariff__description,
.tariff__price {
  margin: 0;
  color: $color-twilightGray;
}

.tariff__button {
  padding: 15px 25px;

  font-weight: 700;
  line-height: 16px;

  color: $color-darkBlue;
  background-color: transparent;

  border: none;
  outline: none;

  transition-duration: 0.2s;

  &:hover,
  &:focus {
    color: rgba(19, 37, 118, 0.7);

    span {
      &::before {
        opacity: 0.7;
      }
    }
  }

  &:active {
    color: rgba(19, 37, 118, 0.3);

    span {
      &::before {
        opacity: 0.3;
      }
    }
  }
}

//Таблет

@media (min-width: $tablet-width) {
  .tariff {
    border-radius: 0 0 60px 60px;
  }

  .tariff__container {
    padding: 133px 40px 62px;
    background-position: 584px 470px;
  }

  .tariff__title {
    margin: 0 0 74px 0;
    padding: 0 10px 0 0;

    position: relative;

    font-size: 45px;
    line-height: 45px;

    text-align: center;

    &::after {
      content: "";
      position: absolute;
      top: 76px;
      right: 0;

      width: 198px;
      height: 285px;

      background-color: #e2e5f2;
      border-radius: 20px;

      z-index: -1;
    }
  }

  .tariff__list {
    margin: 0 0 35px 0;
    padding: 0 34px 0 90px;
  }

  .tariff__item {
    position: relative;

    padding: 17px 0 15px;

    display: flex;

    &::after {
      top: 0;
      left: -90px;

      width: 67px;
      height: 67px;

      font-size: 28px;
      line-height: 67px;
    }
  }

  .tariff__description,
  .tariff__price {
    font-size: 28px;
    line-height: 33px;
  }

  .tariff__description {
    margin: 0 auto 0 0;
  }

  .tariff__button {
    padding: 0;
    position: relative;

    display: flex;
    align-items: center;

    font-size: 20px;
    line-height: 20px;

    color: #132576;
  }

  .tariff__button-icon {
    margin: 0 23px 0 0;

    position: relative;
    display: block;

    width: 67px;
    height: 67px;

    background-color: #e2e5f2;
    border-radius: 50%;

    &::before {
      position: absolute;
      content: "";

      top: 48%;
      left: 50%;

      width: 17px;
      height: 21px;

      transform: translate(-50%, -50%);

      background-image: url("../img/business.svg");
    }
  }
}

//Десктоп

@media (min-width: $desktop-width) {
  .tariff__container {
    padding: 168px 40px 162px;

    background-size: 198px, 198px;
    background-position: 1108px 347px;
  }

  .tariff__title {
    margin: 0 0 134px 0;

    &::after {
      top: 126px;
      right: 206px;

      width: 444px;
      height: 300px;
    }
  }

  .tariff__list {
    margin: 0 0 35px 0;
    padding: 0 365px 0 181px;
  }

  .tariff__button {
    margin: 0 0 0 90px;
  }
}
