@import "../global/mixins";
@import "../global/variables";

.third-step {
  margin: 0;
  padding: 0;
}

.third-step__container {
  padding: 24px 20px 1px;
  position: relative;

  &::before {
    position: absolute;
    content: "";

    top: 198px;
    left: 11px;

    width: 15px;
    height: 283px;

    border: 2px solid #1d2e5b;
    border-right: none;
  }
}

.third-step__title {
  margin: 0 0 15px 0;
  padding: 0 0 0 5px;

  font-size: 20px;
  font-weight: 700;
  line-height: 20px;

  color: #1d2e5b;
}

.third-step__description {
  margin: 0 0 21px 0;
  padding: 0 5px 0 5px;

  font-weight: 400;
  color: $color-twilightGray;
}

.third-step__label {
  margin: 0 auto 16px;
  padding: 2px 0 0 11px;

  position: relative;
  display: block;

  width: 220px;

  font-size: 18px;
  font-weight: 500;
  line-height: 18px;

  color: #1d2e5b;

  &::before {
    position: absolute;
    content: "";

    top: -7px;
    right: 36px;

    width: 49px;
    height: 36px;

    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
  }

  &::after {
    position: absolute;
    content: "";

    top: 8px;
    left: -3px;

    width: 6px;
    height: 6px;

    background-color: #1d2e5b;
    border-radius: 50%;
  }
}

.third-step__flag {
  position: absolute;

  top: -2px;
  right: 0;

  width: 35px;
  height: 24px;

  background-color: #4758a9; //todo: Временно до нарезки флажков
  border-radius: 4px;
}

.third-step__input {
  margin: 0 auto 22px;
  padding: 9px 13px;
  display: block;

  width: 220px;
  height: 220px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  color: $color-twilightGray;

  background-color: #ffffff;
  border: 1px solid #cbced9;
  border-radius: 4px;
  resize: none;

  &--first {
    margin: 0 auto 25px;
  }

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }
}

.third-step__submit {
  margin: 0 0 5px 0;
  padding: 8px 40px 2px;
  display: block;

  width: 100%;

  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  color: #161c35;

  background-color: #ffd74b;
  border-radius: 20px;
  border: none;
}

.third-step__previous {
  padding: 8px 40px 8px;
  display: block;

  width: 100%;

  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  color: #161c35;

  border-radius: 20px;
  border: none;
}
