@import "../global/mixins";

.user-menu {
  display: flex;

  outline: 1px solid yellowgreen; //todo: Временно для сетки
}

.user-menu__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  font-size: 17px;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;

  color: #161c35;

  &--tel {
    width: 40px;
    height: 40px;

    background-color: #ff8d30;

    border-radius: 50%;
  }

  &--mail {
    width: 40px;
    height: 40px;

    background-color: #ffbd30;

    border-radius: 50%;
  }

  &--enter {
    padding: 5px 10px;
    width: 189px;

    text-align: center;

    background-color: #ffd74b;
    border-radius: 20px;
  }
}

//Таблетка

@media (min-width: $tablet-width) {
  .user-menu__item {
    font-size: 20px;
    line-height: 30px;

    &--tel {
      display: none;
    }

    &--mail {
      display: none;
    }

    &--enter {
      padding: 10px;
      width: 188px;
    }
  }
}

//Десктоп

@media (min-width: $desktop-width) {
  .user-menu__item {
    &--tel {
      display: block;
    }

    &--mail {
      display: block;
    }
  }
}
