@import "../global/mixins";
@import "../global/variables";

.user-block {
  margin: 0 0 -60px 0;
  position: relative;

  background-color: #edeff6;
}

.user-block__container {
  @include container;
  padding: 80px 25px 69px;
}

.user-block__form {
  display: flex;
  flex-wrap: wrap;
}

.user-block__level {
  margin: 0 0 0 19px;
  padding: 15px 0 4px 2px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 100px;

  border: 3px solid #ff8d30;

  border-radius: 50%;

  &::after {
    position: absolute;
    content: "";

    top: 57px;
    left: 22px;

    width: 49px;
    height: 2px;

    background-color: #cbced9;
  }
}

.user-block__value {
  margin: 0;

  font-size: 38px;
  font-weight: 700;
  line-height: 38px;

  color: #161c35;
}

.user-block__caption {
  margin: 0;

  font-size: 18px;
  font-weight: 400;
  line-height: 22.17px;

  color: $color-twilightGray;
}

.user-block__img {
  margin: 2px 17px 0 auto;

  display: block;
  border-radius: 50%;
}

.user-block__button {
  margin: 19px 0 33px 0;
  padding: 7px 70px 3px;

  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  width: 270px;

  color: #161c35;

  background-color: #dfe3f0;
  border-radius: 20px;
  border: none;
}

.user-block__tags,
.user-block__transport {
  margin: 0 0 25px 0;
  width: 100%;

  background-color: #edeff6;

  border-radius: 10px;
  border: 1px solid #cbced9;
}

.user-block__label {
  margin: -8px auto 0;
  display: block;

  width: 70px;

  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  color: #1d2e5b;
  background-color: #edeff6;
}

.user-block__title {
  margin: -8px auto 0;

  width: 110px;

  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  color: #1d2e5b;
  background-color: #edeff6;
}

.user-block__transport {
  padding: 0 15px 10px;

  min-height: 63px;

  .user-block__label {
    margin: 0;
    padding: 0 3px 0 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 33px;
    height: 33px;

    background-color: $color-white;

    border-radius: 50%;

    & svg {
      transition-duration: 0.2s;
      opacity: 0.15;
    }
  }

  .user-block__input:checked + .user-block__label {
    & svg {
      opacity: 1;
    }
  }
}

.user-block__textarea {
  padding: 12px 25px;

  width: 270px;
  min-height: 70px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  color: $color-twilightGray;

  background-color: transparent;
  border-radius: 10px;
  border: none;
  resize: none;
}

.user-block__list {
  @include listStyle;
  margin: 0 0 0 54px;
  padding: 4px 0;

  display: flex;
  flex-wrap: wrap;

  width: 140px;
}

//Таблетка

@media (min-width: $tablet-width) {
  .user-block__container {
    padding: 124px 75px 120px;
    display: flex;
  }

  .user-block__level {
    margin: 0 60px 0 0;
    padding: 12px 0 4px 1px;

    width: 94px;
    height: 94px;

    order: -2;

    &::after {
      top: 53px;
      left: 19px;
    }
  }

  .user-block__transport {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 308px;
    min-height: 94px;

    border-radius: 10px;

    order: -1;

    .user-block__label {
      margin: 0 8px 5px 0;
      padding: 0;

      width: 43px;
      height: 43px;

      &--flight svg {
        margin: 0 5px 0 0;

        width: 19px;
        height: 21px;
      }

      &--transport svg {
        width: 17px;
        height: 21px;
      }

      &--bicycle svg {
        width: 24px;
        height: 21px;
      }

      &--afoot svg {
        width: 20px;
        height: 21px;
      }
    }
  }

  .user-block__list {
    margin: 24px 0 9px 55px;
    padding: 0;

    width: auto;
  }

  .user-block__title {
    margin: 0 auto -9px;

    width: 153px;
    height: 16px;

    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: 2px;
    text-align: center;

    order: 1;
  }

  .user-block__img {
    margin: 0 0 0 auto;

    width: 94px;
    height: 94px;

    border-radius: 10px;
  }

  .user-block__button {
    margin: 52px 0 51px 0;
    padding: 22px 200px 20px;

    width: 618px;

    font-size: 20px;
    font-weight: 500;

    line-height: 0.9;
    letter-spacing: 2px;

    border-radius: 10px;
  }

  .user-block__tags {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 618px;
    min-height: 94px;

    border-radius: 10px;

    .user-block__label {
      margin: 0 auto -12px;

      width: 83px;

      font-size: 20px;
      font-weight: 500;

      line-height: 0.9;
      letter-spacing: 2px;
      text-align: center;

      order: 1;
    }
  }

  .user-block__textarea {
    padding: 34px 40px 0px;

    width: 100%;

    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: normal;
  }
}

//Десктоп

@media (min-width: $desktop-width) {
  .user-block__container {
    flex-direction: row;
    height: 360px; //todo: Временно для сетки
  }
}
