$color-header: #161c36;
$color-headerTablet: #182044;

$color-darkBlue: #192144;
$color-grayishBlue: #edeff6;
$color-twilightGray: #444444;
$color-white: #ffffff;
$color-lightAmber: #ffd74b;

$tablet-width: 768px;
$desktop-width: 1440px;
