/* stylelint-disable */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Blogger Sans", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

picture {
  line-height: 0;
}

@font-face {
  font-family: "Blogger Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/bloggersans.woff") format("woff");
}
@font-face {
  font-family: "Blogger Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/bloggersans-bold.woff") format("woff");
}
@font-face {
  font-family: "Blogger Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/bloggersans-bolditalic.woff") format("woff");
}
@font-face {
  font-family: "Blogger Sans";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/bloggersans-italic.woff") format("woff");
}
@font-face {
  font-family: "Blogger Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/bloggersans-light.woff") format("woff");
}
@font-face {
  font-family: "Blogger Sans";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/bloggersans-lightitalic.woff") format("woff");
}
@font-face {
  font-family: "Blogger Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/bloggersans-medium.woff") format("woff");
}
@font-face {
  font-family: "Blogger Sans";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/bloggersans-mediumitalic.woff") format("woff");
}
.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.main-header {
  background-color: #161c36;
}
.main-header--form {
  border-radius: 0 0 20px 20px;
}
.main-header--catalog {
  border-radius: 0 0 20px 20px;
}

.main-header__container {
  margin: 0 auto;
  width: 320px;
  padding: 0 25px;
}

.main-header__submenu {
  background-color: #ffffff;
}

.main-header__about {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #192144;
}

.main-header__login {
  margin: 0 auto;
  display: block;
  color: #161c35;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 25px;
  background-color: #ffd74b;
}

.contact-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-list__link {
  font-weight: 700;
  text-transform: uppercase;
  color: #192144;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.social-list__link {
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.social-list__link--footer {
  width: 45px;
  height: 45px;
  background-color: #ffd74b;
}

.user-menu {
  display: flex;
}

.user-menu__item {
  display: block;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #161c35;
}
.user-menu__item--tel {
  width: 40px;
  height: 40px;
  background-color: #ff8d30;
  background-image: url("../img/topmenu-phone.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
.user-menu__item--mail {
  width: 40px;
  height: 40px;
  background-color: #ffbd30;
  background-image: url("../img/topmenu-mail.svg");
  background-size: 18px 14px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
.user-menu__item--enter {
  background-color: #ffd74b;
  border-radius: 20px;
}

.intro {
  background-color: #161c36;
}

.intro__container {
  margin: 0 auto;
  width: 320px;
  padding: 0 25px;
  background: url("../img/traveller-illustration-mobile@1x.png") no-repeat, #161c36 url("../img/globe-back-mobile@1x.jpg") no-repeat;
}

.intro__slogan {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

.intro__cite {
  font-weight: 700;
}

.intro__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.intro__item {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #161c35;
}
.intro__item:first-child {
  background-color: #ff8d30;
  border-radius: 10px 10px 0 0;
}
.intro__item:nth-child(2) {
  background-color: #ffa530;
  border-radius: 10px 10px 0 0;
}
.intro__item:nth-child(3) {
  background-color: #ffbd30;
  border-radius: 10px 10px 0 0;
}
.intro__item:last-child {
  background-color: #ffd74b;
  border-radius: 10px;
}

.info {
  background-color: #192144;
  border-radius: 0 0 30px 30px;
}

.info__container {
  margin: 0 auto;
  width: 320px;
  padding: 0 25px;
  background-color: #192144;
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.info__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #ff8d30;
}

.info__slogan {
  font-weight: 700;
}

.destinations {
  background-color: #edeff6;
  border-radius: 0 0 30px 30px;
}

.destinations__container {
  margin: 0 auto;
  width: 320px;
  padding: 0 25px;
  background-color: #edeff6;
}

.destinations__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #ff8d30;
}

.destinations__info {
  color: #444444;
}

.destinations__img {
  border-radius: 10px 10px 0 0;
}

.destinations__name {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: #161c35;
}

.destinations__description {
  font-weight: 500;
  line-height: 18px;
  color: #444444;
  opacity: 0.3;
}

.destinations__travelers {
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: #444444;
  opacity: 0.3;
}

.destinations__all {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #1d2e5b;
  background-color: #ffd74b;
  border-radius: 10px;
}

.destinations__flag {
  display: block;
  width: 35px;
  height: 24px;
  border-radius: 4px;
}

.companions {
  background-color: #192144;
  border-radius: 0 0 30px 30px;
}

.companions__container {
  margin: 0 auto;
  width: 320px;
  padding: 0 25px;
  background: url("../../img/smolov-back-desktop@1x.png") no-repeat, #192144 url("../../img/rogovaya-back-mobile@1x.png") no-repeat;
}

.companions__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #ff8d30;
}

.companions__slogan {
  font-weight: 700;
}

.companions__item {
  background-color: #ffffff;
  border-radius: 10px;
}

.companions__level {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.companions__level-value {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.companions__level-caption {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.companions__flag-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.companions__flag-item {
  width: 35px;
  height: 24px;
}

.companions__name {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: #1d2e5b;
}

.companions__tags {
  font-weight: 400;
  line-height: 18px;
  color: #444444;
}

.companions__transport-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.companions__transport-img {
  display: block;
  width: 24px;
  height: 24px;
}
.companions__transport-img--inactive {
  opacity: 0.15;
}
.companions__transport-img--avia {
  background-image: url("../img/plane.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.companions__transport-img--auto {
  background-image: url("../img/bus.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.companions__transport-img--bike {
  background-image: url("../img/bike.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.companions__transport-img--foot {
  background-image: url("../img/run.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.companions__all {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #1d2e5b;
  background-color: #ffd74b;
  border-radius: 10px;
}

.tariff {
  background-color: #edeff6;
  border-radius: 0 0 30px 30px;
}

.tariff__container {
  margin: 0 auto;
  width: 320px;
  padding: 0 25px;
}

.tariff__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #ff8d30;
}

.tariff__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tariff__description {
  color: #444444;
}

.tariff__button {
  font-weight: 700;
  line-height: 16px;
  color: #192144;
  background-color: transparent;
  border: none;
}

.catalog {
  background-color: #edeff6;
}

.catalog__container {
  margin: 0 auto;
  width: 320px;
  padding: 0 25px;
}

.catalog__show {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #1d2e5b;
  background-color: transparent;
  border: none;
}

.catalog__left,
.catalog__right {
  background-color: #ffffff;
  border-radius: 20px;
  border: none;
}

.card {
  background-color: #ffffff;
  border-radius: 20px;
}

.card__img {
  border-radius: 50%;
}

.card__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #1d2e5b;
}

.card__like-icon {
  width: 31px;
  height: 31px;
  background-color: #edeff6;
  background-image: url("../img/heart.svg");
  background-size: 13px 11px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  border: none;
}
.card__like-icon--active {
  background-image: url("../img/heart-active.svg");
}

.card__like-sum {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  color: #161c35;
}

.card__tags {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
}

.card__flags-title,
.card__transport-title,
.card__level-caption {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
}

.card__flags-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card__flags-caption {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: #1d2e5b;
}

.card__transport-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.card__transport-img {
  display: block;
  width: 24px;
  height: 24px;
}
.card__transport-img--inactive {
  opacity: 0.15;
}
.card__transport-img--avia {
  background-image: url("../img/plane.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.card__transport-img--auto {
  background-image: url("../img/bus.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.card__transport-img--bike {
  background-image: url("../img/bike.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.card__transport-img--foot {
  background-image: url("../img/run.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.card__level-value {
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  color: #1d2e5b;
}

.card__call {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #161c35;
  background-color: #ffd74b;
  border-radius: 20px;
}

.filter {
  background-color: #edeff6;
}

.filter__container {
  margin: 0 auto;
  width: 320px;
  padding: 0 25px;
}

.filter__form {
  background-color: #ffd74b;
  border-radius: 20px;
}

.filter__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 22.49px;
  color: #1d2e5b;
}

.filter__fieldset {
  border: none;
}

.filter__legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: #1d2e5b;
}

.filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__label {
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  color: #444444;
}

.filter__submit {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #161c35;
  background-color: #ffffff;
  border-radius: 20px;
  border: none;
}

.filter__input--start-level,
.filter__input--end-level {
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: #1d2e5b;
}

.countries {
  background-color: #e2e5f2;
  border-radius: 0 0 20px 20px;
}

.countries__container {
  margin: 0 auto;
  width: 320px;
  padding: 0 25px;
}

.countries__title {
  font-size: 16px;
  font-weight: 700;
  color: #192144;
  text-transform: uppercase;
}

.countries__list,
.countries__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.countries__nav-link {
  font-weight: 700;
  text-transform: uppercase;
  color: #192144;
  opacity: 0.3;
}
.countries__nav-link--active {
  opacity: 1;
}

.countries__table {
  background-color: #ffffff;
  border: 1px solid #cbced9;
  border-collapse: collapse;
}

.countries__cell {
  width: 44px;
  height: 42px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  text-align: center;
  color: #1d2e5b;
  border: 1px solid #cbced9;
}
.countries__cell--active {
  color: #ffffff;
  background-color: #1d2e5b;
}

.countries__wrapper {
  background-color: #e2e5f2;
  border-radius: 0 0 20px 20px;
}

.countries__link {
  font-weight: 400;
  color: #444444;
}

.countries__close {
  font-size: 17px;
  font-weight: 700;
  line-height: 29.45px;
  text-transform: uppercase;
  color: #161c35;
  background-color: #d6daed;
  border-radius: 20px;
  border: none;
}

.main-footer {
  background-color: #ffffff;
  border-radius: 30px 30px 0 0;
}

.main-footer__container {
  margin: 0 auto;
  width: 320px;
  padding: 0 25px;
}

.main-footer__copyright {
  font-weight: 400;
  color: #444444;
}

/*# sourceMappingURL=style.css.map */
